<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    
    <ion-title>{{apiario.nombre}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/colmenar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


    <ion-item>
      <div class="contenedor">
        <ion-img [src]="apiario.imagen"></ion-img>
       
      </div>
    </ion-item>
    <ion-content>
      <ion-item>
        <ion-text color="dark">
          <h6>Ubicación: {{apiario.ubicacion}} </h6>
          <h6>Coordenadas: {{apiario.coord}} </h6>
          

  </ion-text>
</ion-item>
<ion-item >
  <ion-icon color="warning"  name="folder"></ion-icon>
  <ion-text color="warning">
  <h4>Descripción del colmenar</h4>
</ion-text>
</ion-item>

<ion-item>
  <ion-label >Cantidad:</ion-label>
  <ion-input class="colorFondo"  type="number" [(ngModel)]="apiario.cantidad"></ion-input>
</ion-item>

<ion-item>
  <ion-label >Débiles:</ion-label>
  <ion-input class="colorFondo"  type="number" [(ngModel)]="apiario.debiles"></ion-input>
</ion-item>

<ion-item>
  <ion-label >Muertas:</ion-label>
  <ion-input class="colorFondo"  type="number" [(ngModel)]="apiario.muertas"></ion-input>
</ion-item>

<ion-row no- padding>
  <ion-col text right>
    <ion-button clear small color= "warning" (click)="onGuardar()">
      Guardar
    </ion-button>
  </ion-col>
  <ion-col text-right>
  <ion-button clear small color="dark" (click)="onCancelar()" >
    Cancelar
  </ion-button>
</ion-col>
</ion-row>
