.contenedor{

    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.tamañoImg{
    width: 160px;
    height: 200px;
}

.ion-content {
    --background: url(../../assets/fondopaginas.png) no-repeat center/cover fixed;
  }