#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
ion-content {
  --background: url(../../assets/MiAppiario.png) no-repeat center/cover fixed;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.botonR{
  position: fixed;
 // right: 0;
  bottom: 0;
  top: 300px;
  margin:100px;
  text-align: center;
}

.botonL{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 340px;
  margin:114px;
  text-align: center;
}

